


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?i85iyf');
  src:  url('../fonts/icomoon.eot?i85iyf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?i85iyf') format('truetype'),
    url('../fonts/icomoon.woff?i85iyf') format('woff'),
    url('../fonts/icomoon.svg?i85iyf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}

/* ________________________________________________________________ */
body 
{
   background:#00519ce6;
   color: rgb(255, 255, 255);
   text-align: center; 
   font-size: 16px;
   margin: 0;
   padding: 0;
   font-family: 'Source Sans Pro', sans-serif;

}

.header {
  background-color: rgba(49, 48, 45, 0.9);/*  rgba(255, 251, 240,0.9); */
  color: rgb(255, 255, 255);
  display: flex;
  height: 70;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.container #logo 
{
   vertical-align: middle;
   width: 8%;
   height: 8%;
   border-radius: 2px;
   display: flex;
   height: inherit;
}

.header a {
  color: white;
  text-decoration: none;
}


ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.menu {
  height: inherit;
}
.header ol {
  display: flex;
  height: inherit;
}
.header ol li {
  height: inherit;
}
.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}
.header b {
  display: flex;
  align-items: center;
}
/* 
______________________________________________________________________ */

.presentacion {
  max-width:1600;
  position: center;
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, minmax(50px,310px)); 
  grid-template-rows:  repeat(4, minmax(50px,135px)); 
  grid-gap: 1rem;
  align-items: center;
  justify-self: center;
  background: rgb(28, 27, 37);
 }
 
 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 0;
 vertical-align: top;
}


 .Uno {
  grid-column: 1 / 3;
   grid-row: 1;
   
 }
 .Dos {
  cursor: pointer;    
  position: relative;
  /* width: 200px; */
  display: block;
  grid-column: 3 / 4;
   grid-row: 1;
 }
 .Dos:hover .post-overlay{
  display: flex; 
 }
 .Tres {
  cursor: pointer;    
  position: relative;
  /* width: 200px; */
  display: block;
  grid-column: 4 / 5;
   grid-row: 1;
 }
 .Tres:hover .post-overlay{
  display: flex; 
 }
 
  .Cuatro {
   grid-column: 5;
   grid-row: 1 / 3;

 }
 .Cinco {
   grid-column: 1;
   grid-row: 2 / 4;
 }

 .Seis {
  cursor: pointer;    
  position: relative;
  /* width: 200px; */
  display: block;
  grid-column: 2 / 3;
   grid-row: 2;
 }
 .Seis:hover .post-overlay{
  display: flex; 
 }

 .Siete {
   grid-column: 3 / 5;
   grid-row: 2 / 4;
 }
 .Ocho {
  cursor: pointer;    
  position: relative;
  /* width: 200px; */
  display: block;
  grid-column: 5 / 6;
   grid-row: 3;
 }
 .Ocho:hover .post-overlay{
  display: flex; 
 }
 .Nueve {
  cursor: pointer;    
  position: relative;
  /* width: 200px; */
  display: block;
  grid-column: 1 / 2;
   grid-row: 4; 
 }
 .Nueve:hover .post-overlay{
  display: flex; 
 }
 .Diez {
   grid-column: 2;
   grid-row: 3 / 5;
 }
 .Once {
  cursor: pointer;    
  position: relative;
  /* width: 200px; */
  display: block;
  grid-column: 3 / 4;
   grid-row: 4;
 }
 .Once:hover .post-overlay{
  display: flex; 
 }
 .Doce {
  grid-column: 4 / 6;
  grid-row: 4;
}
/* _________________________________________________________________________________________________________ */


.post-overlay{
  background: rgba(0,0,0,.4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  border-radius: 8px;

}

.post-likes,
.post-precio{
  width: 80px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

/* _________________________________________________________________________________________________________ */
.container {
  /* border: 1px solid red; */
  max-width: 1000px;
  /* width: 100%; */
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.burger-button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(91, 75, 235, 0.796);
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 4;
  right: 5px;
  top: 5px;
  color: aquamarine;
  font-size: 20px;
}
/* __________________________________Project________________________________________ */
h1, 
h2,
h3,
h4,
h5,
h6{
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  /* font-style: italic; */
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: white;
  margin: 0;
  /* margin: 100px 150px 70px 30px; */
  /* text-transform: uppercase; */
  /* text-decoration: dashed; */
}
h1 strong {
  color: #026fff;
}
h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.portfolio {
  background: #fafafa;
  padding: 20px;
  color: black;
  /* background: red; */
}

.project {
  /* border-top: 10px solid red;
  border-right: 10px solid green;
  border-left: 10px solid orange;
  border-bottom: 10px solid pink; */
  /* color: blue; */
  /* border-top-color: red;
  border-top-width: 15px;
  border-top-style: solid; */
  border: 2px solid gray;
  border-radius: 10px;
  /* border-top-left-radius: 50px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  /* margin: 10px; */
  margin-bottom: 15px;
  /* margin-right
  margin-left 
  margin-top */
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  
}
.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}
.project-description {
  font-size: 20px;
}
.project strong {
  font-family: 'Fjalla One', sans-serif;
}
/* .project-date {
  margin: 10px 0;
} */

.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}
.project-description{
text-align: justify;
font-size: 16px;
}

.project-details {
  width: 50%;
}

.project-imageContainer {
  width: 50%;
}

.project-imageContainer img{
max-width: 100%;

}
/* _________________________________________contacto______________________ */
.contact {
  background: #272d35;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact a{
  position: center;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
  position: center;
}

.social-link.twitter {
  background-image: url('../images/twitter.svg');
}
.social-link.facebook {
  background-image: url('../images/facebook.svg');
}
.social-link.github {
  background-image: url('../images/github.svg');
}
.social-link.instagram {
  background-image: url('../images/instagram.svg');
}


/* _________________________________________________________________________________ */

@media screen and (max-width: 1024px) {
  .presentacion {
    max-width: 870px;
    grid-template-columns: repeat(5,160px);
    grid-template-rows:  repeat(4,160px);
    position: center;
    align-items: center;
    justify-self: center;
   }
   .portfolio{
    padding: 0;
  }
  .container{
    padding: 0 1.5em;
  }
  h1{
    font-size: 2em;
  }  
}
  @media screen and (max-width: 768px) {
    .burger-button{
      display: block;
    }
    .header{
      display: block;
      height: auto;
    }
  .header ol{
    display: block;
  } 
  .header ol li {
    height: 50px;
  }
  .header a{
    justify-content: center;
    height: 40px;
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: .5em;
  }
  .header .logo {
    text-align: center;
  }
  
  .menu{
    position: fixed;
    background: rgba(5, 111, 255, 0.8);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
  /*   height: 100vh; */
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
  }
  .menu.is-active{
    left: 0;
  }
  /* __________________________________Project________________________________________ */
  .project{
    display: block;
  }
  .project-imageContainer{
    width: auto;
    text-align: center;
  }
  .project-details{
    width: auto;
  }
  .project-details{
    width: auto;
   /*  font-size: 10px; */
  }
  
  .project-course, .project-date,.project-url{
  
   margin: .3em 0;
  }
  .project-title{
    font-size: 1.5em;
    margin: .3em;
  }
  .project-url{
    font-size: 1em;
  }
  .project-course{
    font-size: .7em;
  }
  .project-date{
    font-size: 1em;
  }
  .project-description{
    font-size: .8em;
  }
   /* _________________________________________________________________________________ */
  }
 

@media screen and (max-width: 480px) {

  .presentacion{
    grid-gap: 3px;
} 
h1{
  font-size: 1.2em;  
  }

 .project-details{
  font-size: 12px; 
  flex-shrink: initial;
 }
}
@media screen and (max-width: 320px) {
  h1{
    font-size: 1em;
    background: rgba(0, 0, 0, .5);
  }

}