@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?i85iyf');
    src:  url('../fonts/icomoon.eot?i85iyf#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?i85iyf') format('truetype'),
      url('../fonts/icomoon.woff?i85iyf') format('woff'),
      url('../fonts/icomoon.svg?i85iyf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }
  
    
    
    body{
        background:#00519ce6; 
        font-family: 'Lato', sans-serif;
        margin: 0;
  
    }
    .header {
        background-color: rgba(49, 48, 45, 0.9);/*  rgba(255, 251, 240,0.9); */
        color: rgb(255, 255, 255);
        display: flex;
        height: 70;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        
      }
      .container #logo 
      {
         vertical-align: middle;
         width: 8%;
         height: 8%;
         border-radius: 2px;
         display: flex;
         height: inherit;
      }
      
      .header a {
        color: white;
        text-decoration: none;
      }
      
      
      ol,
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      
      figure {
        margin: 0;
      }
      
      .menu {
        height: inherit;
      }
      .header ol {
        display: flex;
        height: inherit;
      }
      .header ol li {
        height: inherit;
      }
      .header a {
        display: flex;
        align-items: center;
        height: inherit;
        padding: 0 10px;
      }
      .header b {
        display: flex;
        align-items: center;
      }
  .hero{
  
     color: white;
     padding: 32px 15px;
     display: grid;
     grid-template-columns: minmax(auto, 1024px);
     justify-content: center;
     align-content: center;

  }  

  .hero-container{
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template-areas:  ". . . "
                          "description description description" 
                          "countdown  countdown countdown"
                          "form form form";
    grid-gap: 10px;
  }
  .imagen{
    grid-area: flex;  
  }
  .iagen .img{
      max-width: 70px;
  }
  .title{
    font-family: 'Lato', sans-serif;
      grid-area: flex;
      font-size: 33px;
      font-weight: normal;
      margin: 0;
      display: flex;
      align-items: center;
  }
  .form{
      grid-area: form;
      text-align: center;
      background: rgba(255, 255, 255, .9);
      padding: 1.5em;
      border-radius: 10px;
  }
  .form input{
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #c235a3;
      border-radius: 5px;
      box-sizing: border-box;
      margin: 5px;
  }
.form p{
    font-size: 20px;
    color: gray;
    margin-bottom: 1em;

}
.form button{
    background: #c235a3;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    border-bottom: 5px solid #8a2874;
    display: inline-block;
}
.countdown{
    grid-area: countdown;
}
.countdown p{
    font-size: 20px;
    text-align: center;
    font-weight: 300;
}
.countdown span{
    font-size: 33px; 
}
.countdown span:after{
    content: ":";
    display: inline-block;
    margin: 0 5px;
}
.countdown span:last-child:after{
display: none;
}
p{
margin: 0;
}
.description{
    grid-area: description;
}

img {
  object-fit: cover;
  width: 90px;
  height: 70px;
  border-radius: 10%;
  position: middle;
  justify-content: middle;
  align-content: middle;
}

.container {
    /* border: 1px solid red; */
    max-width: 1000px;
    /* width: 100%; */
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
  }

.burger-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(91, 75, 235, 0.796);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    right: 5px;
    top: 5px;
    color: aquamarine;
    font-size: 20px;
}

    .social {
    }
    
    .social-link {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin: 0 10px;
      background-size: 50px 50px;
      color:  rgba(49, 48, 45, 0.9);;
    }
    
    .social-link.twitter {
      background-image: url('../images/twitter.svg');
    }
    .social-link.facebook {
      background-image: url('../images/facebook.svg');
    }
    .social-link.github {
      background-image: url('../images/github.svg');
    }
    .social-link.instagram {
      background-image: url('../images/instagram.svg');
    }
  }

@media screen and (max-width: 768px) {
    .hero-container{
        grid-template-columns: 1fr 200px 1fr;
    grid-template-areas:  ". . . "
                          "description description description" 
                          "countdown  countdown countdown"
                          "form form form";
}

@media screen and (max-width: 480px) {
    .hero-container{
        grid-template-columns: 1fr 200px 1fr;
    grid-template-areas:  ". . . "
                          "description description description" 
                          "countdown  countdown countdown"
                          "form form form";
    }}
    .burger-button{
        display: block;
      }
      .header{
        display: block;
        height: auto;
      }
    .header ol{
      display: block;
    } 
    .header ol li {
      height: 50px;
    }
    .header a{
      justify-content: center;
      height: 40px;
      font-size: 2em;
      text-decoration: underline;
      margin-bottom: .5em;
    }
    .header .logo {
      text-align: center;
    }
    
    .menu{
      position: fixed;
      background: rgba(5, 111, 255, 0.8);
      z-index: 3;
      top: 0;
      left: -100vw;
      width: 100vw;
    /*   height: 100vh; */
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .3s;
    }
    .menu.is-active{
      left: 0;
    }
}
